html {
    font-family: sans-serif;
    line-height: 1.15;
    height: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #1a1a1a;
    text-align: left;
    height: 100%;
    background-color: #fff;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.map {
    flex: 1;
    background: #f0f0f0;
}
button, .chosen-route {
    width: 244px;
    height: 42px;
    border: 2px solid #98C3D8;
    border-radius: 21.5px;
    background: transparent;
    font-size: 17px;
    font-weight: 300;
    background-color: #98C3D8;
    color: white;
    cursor: pointer;
    transition: all .3s;
}
button:hover {
    background-color: #98C3D8;
    opacity: .8;
}
.btn-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    justify-content: center;
}
.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}
.chosen-route {
    width: fit-content;
    min-width: 244px;
    min-height: 42px;
    height: fit-content;
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    margin-bottom: 80px;
    color: black;
    background-color: transparent;
    border: 2px solid #98C3D8;
    padding: 10px;
    cursor: auto;
}
.main {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}
.data {
    text-align: center;
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.input {
    width: 244px;
    height: 42px;
    text-align: center;
    color: #98C3D8;
    border: 2px solid #98C3D8;
    border-radius: 21.5px;
    background: transparent;
    caret-color: #000;
    box-sizing: border-box;
}
input::placeholder {
    font-size: 17px;
    font-weight: 300;
    display: flex;
    align-items: center;
  }
  .disabled {
    opacity: .4;
  }
  .disabled:hover {
    opacity: .4;
  }